{
    "description": "",
    "reporter": [
        "html",
        "text",
        "clover"
    ],
    "include": [
      "test/*.js",
      "dist/app.js",
      "dist/routes/*.js",
      "dist/src/*.js"
    ],
    "exclude": [
      "coverage/",
      "mongo-entrypoint"
    ],
    "all": true,
    "useSpawnWrap": true,
    "report-dir": "./build/coverage",
    "temp-directory": "./build/.nyc_output"
}