{
    "dbUsername": "foobar",
    "dbPassword": "secretpass",
    "dbHost": "cluster-name.1abcd.mongodb.net",
    "dbName": "favoriteDb",
    "dbUriPrefix": "mongodb+srv",
    "expressPort": 1337,
    "clientUrls": [
        "http://localhost:4200",
        "https://www.example.com"
    ]
}